<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <title>My Blog</title>
</head>
<body>
     <img src="/images/herobg.png" alt="img">
     <h1>Welcome to our blogging platform!</h1>

     <div class="hero-buttons">

        <a href="/create">
        <button class="btn create">Create new Post</button></a>

     <a href="/view">
     <button class="btn view">View Posts</button></a>

     </div>
     
</body>
</html>