* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body, html {
    height: 100%;
    font-family:  'Dancing Script', cursive;;
}

img{
   height: 99%;
   width: 100%;
   opacity: 50%;
}

h1{
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
   color: #412920;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  animation: blinkFade 2s infinite alternate;
}

@keyframes blinkFade {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }

}

.hero-buttons {
    position: absolute;
    top: 50%;
    left: 40%;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

}

.create{
      background-color: white;
  color: #5a3a2e;
  border: 2px solid #5a3a2e;
}



.create:hover {
  background-color: #3e2723;
  color: white;
}



.view{
     background-color: white;
  color: #5a3a2e;
  border: 2px solid #5a3a2e;
}

.view:hover{
     background-color: #3e2723;
  color: white;
}

/* ================= */
/* TABLET */
/* ================= */

@media (max-width: 1024px){

h1{
font-size:36px;
left:50%;
top:38%;
}

.hero-buttons{
left:50%;
transform:translateX(-50%);
top:52%;
}

}

/* ================= */
/* MOBILE */
/* ================= */

@media (max-width: 600px){

img{
height:100vh;
object-fit:cover;
}

h1{
font-size:28px;
width:90%;
left:50%;
top:35%;
}

.hero-buttons{
flex-direction:column;
left:50%;
top:55%;
transform:translateX(-50%);
gap:15px;
}

.btn{
width:200px;
font-size:16px;
}

}

